*{
    background-color: brown;
   /*border: 3px dotted #000;*/
   position: relative;
}
body{
    width: 960px;
    position: relative;
}
#mainPic{
    width: 100%;
}
.onOhThree{
    width: 30%;
    margin: 10px;
}
#infoSection{
    position: relative;
    float: right;
    top: -500px;
}
#famPic{
    top: -250px;
    width: 600px;
}
#shirtPic{
    left: -50px;
}
#frostPic{
    top: -250px;
    left: 300px;
}
footer{
    background-image: url(pics/chinook.jpg);
    height: 737px;
    top: -200px;
}