*{
    background-color: brown;
    /* border: 3px dotted #000; */
}

h1{
    text-align: center;
    font-size: 120px;
    font-style: italic;
}
table{
    width: 66%;
    float: right;
    margin: 50px;
    text-align: center;
    font-size: 24px;
    border-style: double;
}
thead *{
    border-bottom: solid;
    border-width: 5px;

}
form{
   float: left;
    width: 25%;
    background-color: wheat;
}
form *{
    display: block;
    text-align: left;
    background-color: wheat;
}
tfoot *{
    border-top: solid;
    border-width: 5px;
    border-collapse: collapse;
}
tfoot{
    border-collapse: collapse;
}
#mainPic{
    width: 960px;
}
header img{
    position: relative;
    top: -260px;
}
header{
    height: 290px;
}
